[submodule "facelo-backend"]
	path = facelo-backend
	url = git@github.com:harm-1/facelo-backend.git
[submodule "facelo-frontend"]
	path = facelo-frontend
	url = git@github.com:harm-1/facelo-frontend.git
[submodule "facelo-flutter"]
	path = facelo-flutter
	url = git@github.com:harm-1/facelo-flutter.git
