[submodule "facelo-backend"]
	path = backend
	url = git@github.com:harm-1/facelo-backend.git
[submodule "facelo-frontend"]
	path = frontend
	url = git@github.com:harm-1/facelo-frontend.git
[submodule "facelo-flutter"]
	path = flutter
	url = git@github.com:harm-1/facelo-flutter.git
